---
import { siteConfig } from "../../config/site";
---

<footer class="border-t mt-20">
  <div class="max-w-6xl mx-auto p-6 text-center text-sm text-gray-500">
    {siteConfig.footer.text}
  </div>
</footer>